* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Pacifico, cursive,
    Quicksand, sans-serif, initial;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  margin-bottom: 10px;
}

.align-items-center {
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* start banner */
.banner {
  background-size: cover;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(./img/banner1.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
}

.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 40px 0 20px 0;
  align-items: center;
}

.header_logo a {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.right_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

.search_bar {
  display: flex;
}

.search_bar .search .search_input {
  display: flex;
  flex: 1;
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color: rgba(22, 28, 45, 0.7);
  border: none;
  font-weight: 400;
  border-radius: 6px;
  position: relative;
  right: 0;
  background: #fff;
  outline: 0;
  border: 1px solid #fff;
}

.search_bar .search_icon {
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
  cursor: pointer;
  opacity: 0.7;
}

.info {
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
}

.info h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.info p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

.btn-white {
  background: transparent;
  border: 3px solid #fff;
  color: #fff;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
}

.btn-white:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #ff6600;
}

button#btnOpenOverlay {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: #fbfdfb;
  font-size: 1.95em;
  padding: 0 8px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(6 3 0 / 77%);
  z-index: 999;
}

.overlay-scale.open {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
  transition: transform 0.4s, opacity 0.4s;
  transition-property: transform, opacity;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}

.overlay-scale {
  visibility: hidden;
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition-property: transform, opacity, visibility;
  transition-duration: 0.2s, 0.2s, 0s;
  transition-timing-function: ease, ease, ease;
  transition-delay: 0s, 0s, 0.2s;
}

.overlay .overlay-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 40px;
  top: 40px;
  overflow: hidden;
  border: none;
  background: #ff6600;
  color: #fff;
  border-radius: 6px;
}

.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  backface-visibility: hidden;
  line-height: 3em;
}

.overlay ul li a {
  font-size: 20px;
  font-weight: 600;
  display: block;
  color: #fff;
  transition: color 0.2s;
}

.overlay ul li a:hover {
  color: #ff6600;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

/* end banner */

/* start content */
.header_title h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  font-family: "Pacifico", cursive;
}

.header_title h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}

.row p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
  font-family: "Quicksand", sans-serif;
  opacity: 0.7;
}
/* end content */

/* start block */
.block {
  background: #ff6600;
}

.block_image {
  background: url(./img/banner3.jpg) no-repeat center;
  position: relative;
  z-index: 1;
  min-height: 600px;
  background-size: cover;
}

.block_image::after {
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.block_content h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #fff;
  font-family: "Pacifico", cursive;
}

.block_content h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.block_content p {
  color: #ffdfc9;
}

.subscribe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  grid-gap: 30px;
}

.subscribe_left_right .icon {
  background: #fff;
}

.subscribe_left_right:hover .icon span.fa {
  color: #ffc600;
  transition: 0.3s ease-in-out;
}

.subscribe .subscribe_link {
  display: block;
  color: #232121;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
}

.icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: rgba(130, 115, 252, 0.05);
  line-height: 70px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

.icon span.fa {
  color: #ff6600;
  font-size: 25px;
  line-height: 70px;
}
/* end block */

/* start activities */
.activities-container {
  padding: 10% 15%;
}

.activities-container.container-fluid {
  background: #f7f7f7;
}

.activities .title-1 {
  color: #ff6600;
  font-size: 20px;
  font-family: "Pacifico", cursive;
}

.activities .title-2 {
  font-size: 38px;
}

.act-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
.act-table .act-item img {
  width: 100%;
  line-height: 500px;
  text-align: center;
  border-radius: 10px;
}

.act-table .act-item img:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.act-item {
  position: relative;
}

.act-title {
  position: absolute;
  opacity: 1;
  transition: all 0.4s;
  bottom: 30px;
  left: 40px;
  transform: translate3d(0, 10%, 0);
  list-style: none;
}

.act-title h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}

.act-title span {
  font-weight: 600;
  color: #d6aa0a;
  font-size: 18px;
  letter-spacing: 1px;
}
/* end activities */

/* start papa */
.papa-container {
  padding: 10% 15%;
}

.papa-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3.1fr);
  gap: 30px;
}

.papa-content {
  display: flex;
  align-items: center;
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
}

.papa-content .papa-icon {
  color: #ff6600;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background: rgba(130, 115, 252, 0.05);
  border-radius: 6px;
}

.papa-info {
  margin-left: 40px;
}

.papa-icon span {
  font-size: 24px;
  font-weight: 600;
}
.papa-icon i {
  font-size: 25px;
  line-height: 70px;
}

.papa-item {
  padding: 40px 40px;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.papa-item:hover .papa-icon i {
  color: white;
  background-color: #ff6600;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 6px;
  transition: 0.5s;
}

.papa-info span {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
  color: var(--heading-color);
}

.papa-info p {
  font-size: 20px;
}

.papa-info span:hover {
  color: #ff6600;
  cursor: pointer;
}

.papa-title {
  font-size: 18px;
  line-height: 28px;
  color: grey;
  font-family: "Quicksand", sans-serif;
}

.papa-boc {
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #eee;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
}

.papa-boc:hover {
  opacity: 1;
}
/* end papa */

/* start picture */
.boc-picture {
  height: 680px;
  position: relative;
  z-index: 1;
}

.picture {
  background: url(https://demo.w3layouts.com/demos_new/template_demo/01-02-2021/diner-liberty-demo_Free/668605264/web/assets/images/banner2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  line-height: 600px;
  position: relative;
  z-index: 1;
}

.picture::before {
  content: "";
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.pic-boc {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pic-title {
  color: white;
  text-align: center;
}

.pic-title h2 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: #fff;
  max-width: 800px;
}

.pic-button {
  display: flex;
  margin-top: 30px;
  text-align: center;
}

.pic-button .but-1 {
  width: 190px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-weight: 700;
  font-size: 16px;
  transition: 0.5s;
}

.pic-button .but-1 i {
  margin-left: 10px;
}

.pic-button .but-1:hover {
  color: #ff6600;
  background-color: white;
}

.pic-button .but-2 {
  width: 190px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 8px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 16px;
  margin-left: 20px;
  transition: 1s;
}

.pic-button .but-2:hover {
  opacity: 0.7;
}
/* end picture */

/* start number */
.number-table {
  display: flex;
  gap: 30px;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.number-item {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  background-color: white;
  transition: 0.5s;
}

.number-item:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

.number-icon i {
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
  background-color: #ff6600;
  margin-bottom: 20px;
}

.number-title p {
  font-weight: 600;
  font-size: 40px;
}

.number-title span {
  text-transform: capitalize;

  font-weight: 600;
}
/* end number */

/* start video */
.video {
  background: #fff;
}

.video .video-info {
  background: url(./img/banner3.jpg) no-repeat center;
  background-size: cover;
  z-index: 1;
  display: grid;
  align-items: center;
  min-height: 500px;
  border-radius: 6px;
}

.video .video-info:before {
  content: "";
  background: rgb(16 15 19 / 60%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 6px;
}

.video .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}

.video span.video-play-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 26px;
  padding-left: 2px;
  text-align: center;
  line-height: 76px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
  color: #ff6600;
  border: transparent;
  background: #fff;
}

.video span.video-play-icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
  background: #ff6600;
  border: transparent;
  color: #fff;
}

#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}

.mfp-hide {
  display: none !important;
}

div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}

.mfp-close {
  top: -40px !important;
}

.mfp-close-btn-in .mfp-close {
  color: #fff !important;
  opacity: 1 !important;
}

iframe {
  border: none;
}
/* end video */

/* start blogposts */
.blogposts {
  background: #f7f7f7;
}

.row .card {
  position: relative;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}

.row .post-pos {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.radius-image {
  border-radius: 6px;
}

.row a.receipe {
  background: #ff6600;
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
}

.row .meta-info {
  opacity: 1;
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: 0.02em;
}

.row a.blog-desc {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #232121;
  margin-top: 25px;
  margin-bottom: 15px;
  transition: 0.3s ease;
}

.row .p-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.row .p-meta-info {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: flex-start;
}

.row .p-meta-info a {
  font-weight: 700;
  color: #232121;
  letter-spacing: 0.02em;
}

.row a.post-img-anchor {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.row .p-meta-info img {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

.row a.read {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #232121;
  opacity: 0.9;
}

.row a.read:hover {
  color: #ff6600 !important;
}
/* end blogposts */

/* start testimonials */
.owl-carousel {
  width: 100%;
  z-index: 1;
}

.item .testimonial-content {
  max-width: 700px;
  margin: auto;
}

.testimonial a.comment-img {
  left: 0px;
  top: 0px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.testimonial .testimonial img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

blockquote {
  margin: 0 0 1rem;
}

.testimonial blockquote q {
  color: #232121;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  font-style: italic;
}

.testimonial blockquote q::before {
  font-size: 50px;
  color: #ff6600;
  display: block;
  font-family: initial;
}

.testimonial p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
  font-family: "Quicksand", sans-serif;
}

.testimonial .peopl h3,
.testimonial .people-info h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.testimonial p.indentity {
  font-size: 18px;
  font-style: normal;
  margin-bottom: 0;
  opacity: 0.8;
  margin-top: 4px;
}

button:focus {
  outline: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ff6600;
}
/* end testimonials */

/* start footer */
.footer {
  background: black;
}

.footer-logo a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
}

.footer p {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.main-social-footer a {
  margin-right: 10px;
  color: #ff6600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  transition: 0.3s;
}

.main-social-footer a:hover {
  background: #ff6600;
  transition: 0.3s;
  color: #fff;
}

.main-social-footer a span.fa {
  line-height: 36px;
}

h6.footer-title {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}

.footer-2 ul li a,
.footer-3 ul li a,
.footer-list ul li a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.footer-logo a:hover.navbar-brand,
.footer-2 ul li a:hover,
.footer-3 ul li a:hover,
.footer-list ul li a:hover {
  color: #ff6600;
}

.footer form {
  position: relative;
}

.footer input[type="email"] {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: rgba(22, 28, 45, 0.7);
  background: #fff;
  border-radius: 6px;
}

.btn-style,
.btn-white {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
  background: #ff6600;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
  opacity: 0.8;
}
/* end footer */

/* start footer copyright */
.footer-copyright {
  padding: 1.2em 0;
  background: black;
  border-top: 1px solid rgb(255 255 255 / 5%);
}

.footer-copyright p.copy-footer {
  align-self: center;
  color: #ddd;
  font-size: 17px;
}

.footer-copyright .copy-footer a {
  color: #ff6600;
}

.footer-copyright .copy-footer a:hover {
  color: #fff;
}
/* end footer copyright */

/* move top */
#movetop {
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #ff6600;
  padding: 0;
  line-height: 36px;
  border-radius: 35px;
  transition: 0.3s ease-out;
}

/* Light theme */
#myBody {
  background-color: white;
}
#switchButton {
  background-color: white;
}
#switchButton .fa-sun {
  display: block;
}
#switchButton .fa-moon {
  display: none;
}

/* Dark Theme*/
.dark#myBody,
.dark .search_bar .search .search_input,
.dark .papa-item,
.dark .number-item,
.dark .video,
.dark #switchButton,
.dark .main-social-footer a,
.dark .footer input[type="email"] {
  background-color: #232220;
}

.dark #switchButton .fa-sun {
  display: none;
  color: white;
}

.dark #switchButton .fa-moon {
  display: block;
  color: white;
}

.dark .activities-container.container-fluid,
.dark .blogposts {
  background: #282828;
}

.dark .search_bar .search_icon,
.dark .header_title h3,
.dark .row p,
.dark .block_content h3,
.dark .subscribe .subscribe_link,
.dark .activities .title-2,
.dark .papa-item,
.dark .number-title,
.dark .row a.blog-desc,
.dark .row .p-meta-info a,
.dark .row a.read,
.dark .testimonial p,
.dark .testimonial blockquote q,
.dark .testimonial .people-info h3 {
  color: white;
}

/* animate */
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}
